@import "tailwindcss";

:root {
  --bg1: #ffffff;
  --bg2: #f0f0f0;
  --bg3: #ffffff;

  --fg1: #222;
  --fg2: #333;
  --fg3: #444;

  --tint: #000;

  --primary: #de3b00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #303030;
    --bg2: #383838;
    --bg3: #404040;

    --fg1: #ddd;
    --fg2: #bbb;
    --fg3: #999;

    --tint: #fffa;
  }
}

@theme inline {
  --color-primary: var(--primary);

  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);

  --color-fg1: var(--fg1);
  --color-fg2: var(--fg2);
  --color-fg3: var(--fg3);

  --color-tint: var(--tint);

  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-sans-mono);
}

:where(*) {
  @apply border-tint/10;
}